<div class="experience">
    <h1 class="experience_header">Experience</h1>
    <div class="experience_content">
        <div class="position">
            <div class="position_company">ChilliConnect</div>
            <div class="position_title">Senior Software Developer</div>
            <div class="position_date">Jan 2018 - Present</div>
        </div>
        <div class="position">
            <div class="position_company">Fife Council</div>
            <div class="position_title">Systems Developer</div>
            <div class="position_date">Aug 2016 - Jan 2018</div>
        </div>
        <div class="position">
            <div class="position_company">Planys Mobile</div>
            <div class="position_title">Intern - Web Developer</div>
            <div class="position_date">Aug 2015 - Jan 2016</div>
        </div>
    </div>
</div>