<div class="skills">
    <h1 class="skills_header">Skills</h1>
    <div class="skills_content">
        <ul class="languages">
            <li><h3>Languages</h3></li>
            <li>Javascript</li>
            <li>C#</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
        <ul class="frameworks">
            <li><h3>Frameworks</h3></li>
            <li>Vue</li>
            <li>React</li>
            <li>Express</li>
            <li>ASP.Net MVC</li>
        </ul>
        <ul class="tools">
            <li><h3>Tools</h3></li>
            <li>Git</li>
            <li>Bash</li>
            <li>Node</li>
            <li>Visual Studio</li>
        </ul>
    </div>
</div>