body {
    color: #495057;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
}

/* Intro */
.intro {
    box-sizing: border-box;
    padding: 5rem;
}

.intro .intro_header {
    font-size: 6rem;
}

.intro .intro_content {
    font-size: 2rem;
}

.intro .intro_content .bold {
    font-weight: bold;
    color: #37b24d;
}

/* Skills */

.skills {
    padding: 5rem;
}

.skills .skills_header{
    font-size: 3rem;
}

.skills_content ul {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    -webkit-padding-start: 0;
}

.skills_content ul:not(:last-child) {
    margin-right: 20%;
}

/* Skills */

.experience {
    padding: 5rem;
}

.experience .position {
    width: 80%;
    display: table;
    margin-top: 2rem;
}

.experience .position_company {
    font-weight: bold;
}

.experience .position_date {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}